@page "/RegistroArticulos"
@using PrimerParcialAp2.Models;
@using PrimerParcialAp2.Controllers;
<h3>RegistroArticulos</h3>

<EditForm Model="@articulo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Id" class="control-label">Id</label>
        <InputNumber id="Id" @bind-Value="articulo.ArticuloId" class="form-control" />
        <ValidationMessage For="@(() => articulo.ArticuloId)" />
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary">Buscar</button>
    </div>
    <div class="form-group">
        <label for="Fecha" class="control-label">Fecha</label>
        <InputDate @bind-Value="articulo.Fecha" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Descripcion" class="control-label">Descripcion</label>
        <InputText id="Descripcion" @bind-Value="articulo.Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Costo" class="control-label">Costo</label>
        <InputNumber id="Costo" @bind-Value="articulo.Costo" class="form-control" />
    </div>
    <div class="form-group">
        <label for="%Ganancia" class="control-label">%Ganancia</label>
        <InputNumber id="%Ganancia" @bind-Value="articulo.PorcentajeGanancia" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary" type="button" @onclick="Limpiar">Limpiar</button>
        <button class="btn btn-success" type="submit">Guardar</button>
        <button class="btn btn-danger" type="button" @onclick="Eliminar">Eliminar</button>
    </div>

    <ValidationSummary />

</EditForm>
@code {
    public Articulo articulo { get; set; }
    public string Mensaje { get; set; }

    protected override void OnInitialized()
    {
        articulo = new Articulo();
    }

private void Guardar()
    {
        ArticuloController db = new ArticuloController();

        try
        {
            if (articulo.ArticuloId <= 0)
            {
                if (db.Guardar(articulo))
                {
                    articulo = new Articulo();
                    Mensaje = "Guardado";
                }
                else
                {
                    Mensaje = "Error al guardar";
                }
            }
            else
            {
                if (db.Modificar(articulo))
                {
                    articulo = new Articulo();
                    Mensaje = "Modificado";
                }
                else
                {
                    Mensaje = "Error al modificar";
                }
            }
        }
        catch (Exception)
        {

            Mensaje = "Error";
        }


    }

private void Eliminar()
    {
        ArticuloController db = new ArticuloController();

        try
        {
            if (articulo.ArticuloId > 0)
            {
                if (db.Eliminar(articulo.ArticuloId))
                {
                    Mensaje = "Eliminado";
                    articulo = new articulos();
                }
                else
                {
                    Mensaje = "Error al eliminar";
                }
            }
        }
        catch (Exception)
        {

            Mensaje = "Error";
        }
    }

    private void Limpiar()
    {
        articulo = new Articulo();
    }

    private void Buscar()
    {
        ArticuloController db = new ArticuloController();
        Articulo articuloTemp;

        try
        {
            if (articulo.ArticuloId > 0)
            {
                articuloTemp = db.Buscar(articulo.ArticuloId);

                if (articuloTemp != null)
                {
                    articulo = articuloTemp;
                }
                else
                {
                    Mensaje = "No se pudo encontrar";
                }

            }
        }
        catch (Exception)
        {

            Mensaje = "Hubo un error";
        }
    }


}
