@page "/RegistroArticulos"
@using PrimerParcialAp2.Models;
@using PrimerParcialAp2.Controllers;
<h3>RegistroArticulos</h3>

<EditForm Model="@articulo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Id" class="control-label">Id</label>
        <InputNumber id="Id" @bind-Value="articulo.ArticuloId" class="form-control" />
        <ValidationMessage For="@(() => articulo.ArticuloId)" />
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary">Buscar</button>
    </div>
    <div class="form-group">
        <label for="Fecha" class="control-label">Fecha</label>
        <InputDate @bind-Value="articulo.Fecha" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Descripcion" class="control-label">Descripcion</label>
        <InputText id="Descripcion" @bind-Value="articulo.Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Costo" class="control-label">Costo</label>
        <InputNumber id="Costo" @bind-Value="articulo.Costo" class="form-control" />
    </div>
    <div class="form-group">
        <label for="%Ganancia" class="control-label">%Ganancia</label>
        <InputNumber id="%Ganancia" @bind-Value="articulo.PorcentajeGanancia" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Eliminar</button>
    </div>

    <ValidationSummary />

</EditForm>
@code {
    public Articulo articulo = new Articulo();

    private void Guardar()
    {
        ArticuloController ArticuloController = new ArticuloController();
        if (ArticuloController.Guardar(articulo))
        {
            this.articulo = new Articulo();
        }
    }

    private void Eliminar()
    {
        ArticuloController ArticuloController = new ArticuloController();
        if (ArticuloController.Eliminar(articulo.ArticuloId))
        {
            this.articulo = new Articulo();
        }
    }

    private void Modificar()
    {
        ArticuloController ArticuloController = new ArticuloController();
        if (ArticuloController.Modificar(articulo))
        {
            this.articulo = new Articulo();
        }
    }
    private void Buscar()
    {
        ArticuloController ArticuloController = new ArticuloController();
        if (ArticuloController.Buscar(articulo.ArticuloId > 0))
        {
            this.articulo = articulo(articulo);
            return articulo;
        }


    }

}
